<h1>New Album</h1>

<form action="<%= albums_url %>" method="post">
    <%= auth_token %>
    <label for="band">Band: </label>
    <select name="album[band_id]" id="band">
    <% @bands.each do |band| %>
        <option value="<%= band.id %>" <%= band.id == @band_id ? "selected" : "" %>><%= band.name %></option>
    <% end %>
    </select>

    <label for="title">Title: </label>
    <input type="text" name="album[title]" id="title" value="<%= @album.title %>" >

    <label for="year">Year: </label>
    <input type="text" name="album[year]" id="year" value="<%= @album.year %>" >

    <label for="live">Live: </label>
    <input type="radio" name="album[live]" id="live" value="<%= @album.live %>" >

    <button>Submit</button>
</form>
